.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

/* MOBILE */
@media (max-width: 768px) {
  .card {
    padding: 15px;
  }
}
