
.site-footer {
  background: #065f46;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 40px;
}

.copyright-text {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}


